@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #005575;
    --foreground: #0a0a0a;
  }
}

body {
  margin: 0 !important; 
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto;
  background-color: var(--background); 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

h4{
  font-size: 16px;
  font-weight: 300;
}
h3{
  font-size: 20px;
  font-weight: 400;
}
h2{
  font-size: 28px;
  font-weight: 600;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
